streamlit
google-generativeai
python-dotenv
requests
watchdog
packaging
PyMuPDF
pymupdf-tools
docx2txt
Pillow
pytesseract
speechrecognition
pydub
pandas
numpy
matplotlib
seaborn
plotly
scikit-learn
protobuf
